$main-font-family-1: "Space Mono", Arial, sans-serif;
$main-font-family-1-bold: "Space Mono Bold", Arial, sans-serif;
$main-font-family-2: "Lexend Deca", Helvetica, sans-serif;
$main-font-size: 1.5rem;
$main-font-height: 1.67;

$h1-font-size: 5.6rem;
$h2-font-size: 4.8rem;
$h3-font-size: 4rem;
$h4-font-size: 2.4rem;

$h1-font-height: 1;
$h2-font-height: 1;
$h3-font-height: 1.2;
$h4-font-height: 1.17;

$h1-font-spacing: -2.5px;
$h2-font-spacing: -2.14px;
$h3-font-spacing: -1.79px;
$h4-font-spacing: -1.07px;

$primary-color-yellow: #fcb72b;
$primary-color-dark-navy: #495567;
$primary-color-dim-grey: #939caa;
$secondary-color-light-grey: #e5ecf4;
$secondary-color-snow: #f2f5f9;
$secondary-color-light-yellow: #fff4df;
$secondary-color-white: #ffffff;
